#butoninicio{
    background-image: url(../../assets/login-img/images.jpeg);

}

#div-fondo{
    background-image: url(../../assets/login-img/images.jpeg);
    background-repeat: no-repeat,repeat;



}