<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-grid>
    
    <ion-row> 
      <ion-col sizeLg="6" sizeMD="4" sizeXs="6" >

      </ion-col>
      <ion-col sizeLg="6" sizeMD="4" sizeXs="6" >
        <div id="div-fondo">
          <div>
            <ion-label class="center-content">Inicio </ion-label>
            <ion-input class="center-content" label="Nombre de usuario" [(ngModel)]="userLoginModal.username"></ion-input>
            <ion-input class="center-content" label="Contraseña" [(ngModel)]="userLoginModal.password"></ion-input>
          </div>
          <div>
            <!--
              Navigación con una función.
            -->
            <ion-button color="0"id="butoninicio" (click)="userLogin(userLoginModal)">Inicio de secion</ion-button>
          </div>
          <div>
            <!--
              Navegación via HTML.
            -->
            <ion-button id="butoninici1"  [routerLink]="['/usuario',userLoginModal.username]">Go to Usuario with HREF</ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

 

























</ion-content>
